<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Enfield Schools map">

        {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWY_7rm_aIynu5Er5ajJr3w6hLyBAa6cE&callback=initMap&libraries=&v=weekly" defer ></script>

        {{ $opts := dict "targetPath" "js/main.js" "format" "cjs" }}
        {{ $built := resources.Get "typescript/index.tsx" | js.Build $opts | resources.Minify }}
        <script type="text/javascript" src="{{ $built.RelPermalink }}"></script>

        <title>Enfield schools — a project by David Winterbottom</title>
    </head>

    <body>
        <body>
            <div id="map"></div>
        </body>
    </body>

</html>

